@import 'styles/Variables';

.primary-navigation {
  display: none;
  width: 100%;

  &.show {
    display: block;
  }

  @media (min-width: $breakpoint-small) {
    display: block;
    width: auto;
  }

  :global(.menu) {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    // text-transform: uppercase;
    // font-size: 1.4rem;
    margin: 0;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
    }

    // li {
    //   // margin: 0 0.5rem;
    //   color: var(--color-primary);

    //   &:hover,
    //   &:focus {
    //     // border: 1px solid var(--color-primary);
    //     background-color: var(--color-primary);
    //     color: var(--color-white);
    //     // padding: 0.9rem;
    //   }
    // }

    a {
      display: inline-flex;
      align-items: center;
      height: 100%;
      // padding: 1rem;
      font-weight: $font-weight-bold;

    }
  }
}
