@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  text-align: justify;
}

.is-layout-flex {
  @apply flex;
  @apply justify-between;
}

.wp-block-latest-posts__list.has-dates.wp-block-latest-posts {
  list-style-type: none;
  padding-left: 0;
}

.wp-block-latest-posts__post-date::before {
  content: " - ";
}
